.father {
  display: flex;
  /* Main Axis */
  justify-content: space-around;
  height: 100vh;
  flex-wrap: wrap;
  align-content: center;
}

.child {
  display: flex;
  font-size: 25pt;
  width: 200px;
  height: 200px;
  background: coral;
  color: white;
  justify-content: center;
  align-items: center;
}

.child:nth-child(2) {
}